# Build artifacts
dist
build
coverage
out-tsc
.nx/cache
.nx/workspace-data
.nx/self-healing

# Dependencies
node_modules

# Generated
pnpm-lock.yaml
package-lock.json

# Other
.angular
.next
.vercel
infra/cdk.out
